．<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>流量分析</title>

    <link href="../../static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>

    <script src="../../static/bootstrap-3.3.5/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="../../static/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
    <div class="container">
        <br>
        <div class="jumbotron">
            <div class="container">
                <div style="width: 100%;float:left;">
                <h1>关于本系统</h1>
                <br>

                <p>
                 本系统是哈尔滨工业大学CPS小组开发的面向AMR的无线数据传输系统的集中器的用户交互部分。
                </p>
                <br>
                <p>
                 bulid a web server runing on embedded Linux system, then we can access the control the system via any connected devices such as laptop or android phone
                </p>
                <br>

                <p>
                bulid a web server runing on embedded Linux system, then we can access the control the system via any connected devices such as laptop or android phone
                bulid a web server runing on embedded Linux system, then we can access the control the system via any connected devices such as laptop or android phone
                </p>
                </div>
                <div id="main" style="height:250px;width:50%;float:left;"></div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>