<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>系统配置</title>

    <link href="../../static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/buttons.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/default.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/fileinput.min.css" rel="stylesheet" type="text/css"/>
<script src="http://cdn.bootcss.com/jquery/2.1.2/jquery.min.js"></script>
 


</head>

<body>
<div class="container">
    <br>

    <br>

<div id="term" align="center"> </div>


     
    <br>
    <div class="container"><p id='uploadinfo' class="alert alert-success">{% with messages = get_flashed_messages() %}{% if messages %}{% for message in messages %}{{ message }}{% endfor %}{% endif %}{% endwith %}</p></div>
</div>

<script src="../../static/bootstrap-3.3.5/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="../../static/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../static/bootstrap-3.3.5/js/fileinput.min.js" type="text/javascript"></script>
<script src="../../static/upload/fileinput_locale_zh.js" type="text/javascript"></script>
<script>
        $(document).ready(function(){
            if ($("#uploadinfo").text() == "") {
                $("#uploadinfo").hide()
            }
        })
</script>

</body>
</html>
