<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>异常警告</title>

    <link href="../../static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/buttons.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/default.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/fileinput.min.css" rel="stylesheet" type="text/css"/>
    
    <link rel="stylesheet" type="text/css" media="all" href="../../static/daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/daterangepicker/daterangepicker-1.3.7.css" />
    <link href="../../static/daterangepicker/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">

<script src="../../static/bootstrap-3.3.5/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="../../static/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../static/bootstrap-3.3.5/js/fileinput.min.js" type="text/javascript"></script>
<script src="../../static/upload/fileinput_locale_zh.js" type="text/javascript"></script>

    <script type="text/javascript" src="../../static/daterangepicker/moment.js"></script>
    <script type="text/javascript" src="../../static/daterangepicker/daterangepicker-1.3.7.js"></script>

    <script type="text/javascript">
        $(document).ready(function (){
                    // 时间插件
                    $('#reportrange span').html(moment().subtract('hours', 6).format('YYYY-MM-DD HH:mm:ss') + ' - ' + moment().format('YYYY-MM-DD HH:mm:ss'));
                    $('#timesrange').val(($('#reportrange span').html()));
                    
                    $('#reportrange').daterangepicker(
                            {
                                maxDate : moment(),
                                dateLimit : {
                                    days : 60
                                },  
                                showDropdowns : true,
                                showWeekNumbers : false,  
                                timePicker : true,  
                                timePickerIncrement : 5,  
                                timePicker12Hour : false,
                                timePickerSeconds :true,  
                                  ranges : {
                  //'最近1小时': [moment().subtract('hours',1), moment()],
                  '今日': [moment().startOf('day'), moment()],
                  '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                  '最近7日': [moment().subtract('days', 6), moment()],
                  '最近30日': [moment().subtract('days', 29), moment()]
                },
                                opens : 'right', // //日期选择框的弹出位置
                                buttonClasses : [ 'btn btn-default' ],
                                applyClass : 'btn-small btn-primary blue',
                                cancelClass : 'btn-small',
                                format : 'YYYY-MM-DD HH:mm:ss', // 控件中from和to 显示的日期格式
                                separator : ' to ',
                                locale : {
                                          applyLabel : '确定',
                                          cancelLabel : '取消',
                                          fromLabel : '起始时间',
                                          toLabel : '结束时间',
                                          customRangeLabel : '自定义',
                                          daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                                          monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                                            '七月', '八月', '九月', '十月', '十一月', '十二月' ],
                                          firstDay : 1
                                }
                            }, function(start, end, label) {//格式化日期显示框                                
                                $('#reportrange span').html(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
                                console.log(start.format('YYYY-MM-DD HH:mm:ss'))
                                $('#timesrange').val(($('#reportrange span').html()));
                           });
         
      // 设置日期菜单被选项  --开始--
        var dateOption ;  
        if("${riqi}"=='day') {  
        dateOption = "今日";  
        }else if("${riqi}"=='yday') {  
        dateOption = "昨日";  
        }else if("${riqi}"=='week'){  
        dateOption ="最近7日";  
        }else if("${riqi}"=='month'){  
        dateOption ="最近30日";  
        }else if("${riqi}"=='year'){  
        dateOption ="最近一年";  
        }else{  
        dateOption = "自定义";  
        }  
        $(".daterangepicker").find("li").each(function (){  
        if($(this).hasClass("active")){  
        $(this).removeClass("active");  
        }  
        if(dateOption==$(this).html()){  
        $(this).addClass("active");  

        }  
        }); 
      // 设置日期菜单被选项  --结束--

        });
    </script>
</head>
<body>
<div>
    <div class="container ">
       
        <form enctype="multipart/form-data" method="POST" action="{{url_for('exceptinfo')}}">

                           <h4>请选择时间段:</h4>
                    <div class="controls">
                        <div id="reportrange" class="pull-left dateRange" >
                       
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span id="searchDateRange" name="searchDateRange"></span>          
                                 <b class="caret"></b>
                                 <input type="hidden" id="timesrange" name="field_name"  />
                                 
                        </div>
                        <button type="submit" class="btn btn-success">提交</button>
                    </div>
        　</form> 
         </div>  
</div>
<div class="container">
    <h2 class="text-center">网络服务异常警告</h2>
</div>
<h4>&nbsp;&nbsp;出错节点列表:</h4>
<table class="table table-bordered">
      <thead>
        <tr>
            <th class="text-center">节点ID</th>
            <th class="text-center">表ID</th>
            <th class="text-center">存放位置</th>

        </tr>
      </thead>
      <tbody>
{% for nodeitem in lists: %}
      <tr data-toggle="modal" data-target="#myModal">
          <td class="text-nowrap text-center">{{ nodeitem[0] }}</td>
          <td class="text-center text-nowrap">{{ nodeitem[1] }}</td>
          <td class="text-center text-nowrap">{{ nodeitem[2] }}</td>
         
        </tr>
{% endfor %}
      </tbody>
    </table>    
<div id="topo" style="height:700px;width:90%;float:center"></div>

{% autoescape false %}
    <!-- ECharts单文件引入 -->
    <script src="../../static/echarts-2.27/build/dist/echarts.js" type="text/javascript"></script>

<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: '../../static/echarts-2.27/build/dist/'
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/eventRiver'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('topo'));

                option = {
    tooltip : {
        trigger: 'item',
        enterable: true
    },
    legend: {
        data:['电压异常','电流异常']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    xAxis : [
        {
            type : 'time',
            boundaryGap: [0.05,0.1]

        }
    ],
    series : [
        {
            "name": "电压异常", 
            "type": "eventRiver", 
            "data": {{vwarning}}     
        }, 
        {
            "name": "电流异常", 
            "type": "eventRiver", 
            "data": {{iwarning}}     
        }
    ]
};
                    
                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        );      
    </script>



{% endautoescape %}


<!-- <div class="container">
    <h2 class="text-center">数据上报异常警告</h2>
</div>
<br>
<div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-hover table-responsive  table-condensed table-striped">
      <thead>
        <tr>
            <th class="text-center">序号</th>
            <th class="text-center">节点编号</th>
            <th class="text-center">异常信息</th>
            <th class="text-center">时间/次数/数据</th>
        </tr>
      </thead>
      <tbody>
      {% for id, warn in enumerate(warning) %}
      <tr data-toggle="modal" data-target="#myModal">
      <th scope="row" class="text-center" id="id">{{ id + 1 }}</th>
          <td class="text-nowrap text-center">{{ warn['ip_port'] }}</td>
          <td class="text-center text-nowrap">{{ warn['warn'] }}</td>
          <td class="text-center text-nowrap">{{ warn['time'] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div> -->


</body>
</html>