．<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>流量分析</title>

    <link href="../../static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>

    <script src="../../static/bootstrap-3.3.5/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="../../static/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
    <div class="container">
        <br>
        <div class="jumbotron">
            <div class="container">
                <div style="width: 100%;float:left;">
                <h1>关于本系统</h1>
                <br>
                <p>

                水、电、气、热表是家用的基本仪表，但是目前大多数家用仪表还停留在人工抄表和有线读表的阶段，人工抄表给热力、水电公司造成了很大的人力成本，另外有线读表虽然相比人工抄表便捷很多，但是也面临布线成本较高以及
线路老化故障排查困难等问题。因此本课题需要根据实际的应用场景设计开发为用户提供一套便捷简单可靠的无线自动抄表数据传输系统。


                </p>
                <p>
                无线自足网技术不需要线缆，因而可以大规模布置在现有列车系统，且兼具维护简容易成本低的优点。
             
                </p>

             

                </div>
                <div id="main" style="height:250px;width:50%;float:left;"></div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>