<!DOCTYPE html>
<html lang="zh-CN">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>部署信息表</title>

    <link href="../../static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/buttons.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/default.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/fileinput.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/bootstrap-table.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/upload/bootstrap-table.min.css" rel="stylesheet" type="text/css"/>

<script src="../../static/bootstrap-3.3.5/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="../../static/jquery-ui-bootstrap/assets/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
<script src="../../static/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../static/bootstrap-3.3.5/js/fileinput.min.js" type="text/javascript"></script>
<script src="../../static/upload/fileinput_locale_zh.js" type="text/javascript"></script>
<script src="../../static/table/bootstrap-table.js" type="text/javascript"></script>
<script src="../../static/table/bootstrap-table.min.js" type="text/javascript"></script>
<script src="../../static/table/bootstrap-table-zh-CN.js" type="text/javascript"></script>

  <script type="text/javascript">  

        $(document).ready(function () {  
            $("#btnDel").click(function () {  
                $(":checked").parent().parent().fadeOut("show"); //隐藏所有被选中的input元素  
                //parent() 获得当前匹配元素集合中每个元素的父元素,  
  
            })  
  
            $("tr").mousemove(function () {  
                $(this).css("background", "#F0F0F0");  //鼠标经过背景颜色变为灰色  
  
            })  
            $("tr").mouseout(function () {  
                $(this).css("background", "#fff");  //离开后背景颜色回复白色  
            })  

  
            //全选  
            // $("#checkAll").click(function () {  
  
            //     if ($("#checkAll").attr("checked") == false) {  
  
            //         $("input[name='checkbox']").each(function () {  
            //             $(this).attr("checked", true);  
            //         });  
            //     } else {  
  
            //         $("input[name='checkbox']").each(function () {  
            //             $(this).attr("checked", false);  
            //         });  
            //     }  
  
            // });  
        });  
    </script>  
    <script>  
        function modify() {  
            $("tbody").editableTableWidget();  
        }  
    </script>  

    <script>  
        function append() {  
            var numberoftr = document.getElementsByTagName("tbody")[0].getElementsByTagName('tr').length;
            // console.log(numberoftr);
            var strAppend = '<tr style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;"><th class="text-center"><input type="checkbox" value="" editable="false" name="checkbox"></th><td class="text-center"></td><td class="text-center"></td><td class="text-center"></td><th class="text-center"><button type="submit" onclick="addnew('+numberoftr+')">添加</th></tr>';

  
            $("#AddFamily tbody ").append(strAppend).editableTableWidget();  
            return numberoftr-1
        }  
    </script>  

    <script type="text/javascript">
        function postsubmit(id, nodeid)
        {
            // console.log(value);
            var numberoftr = document.getElementsByTagName("tbody")[0].getElementsByTagName('tr').length;
            var num;
            // console.log(numberoftr);
            for (var i = 0; i<numberoftr-1; i++) {
                if (document.getElementsByTagName('tbody')[0].getElementsByTagName('tr')[i].getElementsByTagName('td')[0].innerHTML == nodeid)
                {   
                    num = i;
                    break;
                }       
            }
            var NodeID = document.getElementsByTagName('tbody')[0].getElementsByTagName('tr')[i].getElementsByTagName('td')[0].innerHTML;
            var MeterID = document.getElementsByTagName('tbody')[0].getElementsByTagName('tr')[i].getElementsByTagName('td')[1].innerHTML;
            var Place = document.getElementsByTagName('tbody')[0].getElementsByTagName('tr')[i].getElementsByTagName('td')[2].innerHTML;
            // console.log(id,nodeid,MeterID,Place);
            $.ajax({
            type:"POST",
            url:"{{url_for('deploy_modify')}}",
            data:{ID:id,NodeID:NodeID,MeterID:MeterID,Place:Place},
            datatype: "json",
            success: function(dat) { alert(dat);
                    if (dat == "更改成功")
                    {
                        window.location.reload();
                    }
                }
            });
        }

    </script>
    <script type="text/javascript">
    function del() {
        // var n = document.getElementsByTagName('tbody')[0].getElementsByTagName('tr').length;
        var checkboxs = document.getElementsByName('checkbox');
        // console.log(checkboxs);
        var arr = new Array();
        for (var i=0; i<checkboxs.length; i++) 
        {
             if(checkboxs[i].checked==true)
             {
               var cv=checkboxs[i].value
               // console.log(cv);
           
                arr.push(cv);
            }
        }
        // console.log(arr);
        $.ajax({
            type:"POST",
            url:"{{url_for('deploy_del')}}",
            data:{del_list:arr},
            datatype: "json",
            });
        
        }
    </script>
    <script type="text/javascript">
        function addnew(numberoftr)
        {   
            var flag = 0;
            // console.log(numberoftr);
            var NodeID = document.getElementsByTagName('tbody')[0].getElementsByTagName('tr')[numberoftr].getElementsByTagName('td')[0].innerHTML;
            if(NodeID.length==0){    
            flag++;}
            var MeterID = document.getElementsByTagName('tbody')[0].getElementsByTagName('tr')[numberoftr].getElementsByTagName('td')[1].innerHTML;
            if(MeterID.length==0){    
            flag++;}
            var Place = document.getElementsByTagName('tbody')[0].getElementsByTagName('tr')[numberoftr].getElementsByTagName('td')[2].innerHTML;
            if(Place.length==0){    
            flag++;}
            if (flag)
            {
                alert("请补全内容!");
            }
            else
            {
                $.ajax({
                type:"POST",
                url:"{{url_for('deploy_add')}}",
                data:{NodeID:NodeID, MeterID:MeterID, Place:Place},
                datatype: "json",
                success: function(dat) { alert(dat);
                    if (dat == "添加成功")
                    {
                        window.location.reload();
                    }
                }
                });
                
            }

        }
    </script>
    <style>  
        table {  
            border-collapse: collapse;  
            border: 1px solid #FFFFFF;  
        }  
  
            table td {  
                text-align: center;  
                height: 30px;  
                font-size: 12px;  
                line-height: 30px;  
                border: 1px solid #efecec;  
            }  
    </style>  
  

</head>  
  
  
      
  
 <body>  
  
    <div class="heading" align="center">  
    <h2>部署信息表</h2>
        <button id="build" type="button" class="btn  btn-success" data-toggle="modal" data-target="" onclick="append()">  
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加   
        </button>  

  
        <button id="btnDel" type="button" class="btn  btn-danger" data-toggle="modal" data-target="#DeleteForm" onclick="del()">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>删除  
        </button>  
  
  
    </div>  
  
  
    <div class="widget-content padded clearfix">  
        <table id="AddFamily" class="table table-bordered table-striped" width="1000px" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto">  
  
            <thead>  
                <th class="check-header hidden-xs">  </th>
            <th class="text-center">节点ID</th>
            <th class="text-center">表ID</th>
            <th class="text-center">地理位置</th>
            <th class="text-center">提交更改</th>
            </thead>  
            <tbody id="mainbody">

            {% for item in nodeplace: %}
            <tr>
                <th class="text-center">  
                    <input name="checkbox" type="checkbox" value="{{item[0]}}" >  
                </th>
              <!-- <th scope="row" class="text-center" id = "id">{{ item[0] }}</th> -->
                  <td class="text-nowrap text-center" id = "NodeID">{{ item[1] }}</td>
                  <td class="text-center text-nowrap" id = "MeterID">{{ item[2] }}</td>
                  <td class="text-center text-nowrap" id = "Place">{{ item[3] }}</td>
                  <th class="text-center text-nowrap">
                  <button id="btnEdit" type="button" class="btn   btn-warning" onclick="modify()">  
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>编辑</button> 
                  <button id={{item[0]}} type="submit" class= "btn btn-primary" value={{item[1]}} onclick="postsubmit(this.id, this.value)">提交更改</button>
                  </th>
                  </tr>
              {% endfor %}
  
                    </tr>  
  
  
  
            </tbody>  
        </table>  
    </div>  
  
    <script type="text/javascript"> 
  
        $(function () {  
            //   $('#build').click(build);//实现创建表格  
            $('td').click(edit);  
  
            // $('#cells, #rows').keyup(function (e) {  
            //     if (e.keyCode === 13) {  
            //       //添加存入数据库的代码  
            //     }  
            // });  
        });  
  
        //将表格转成可编辑的表格  
        function edit(index) {  
             // $('#table').editableTableWidget();//效果是单击编辑按钮后，所有的都可以编辑  
            $(":checked").editableTableWidget();           
            // $(":checked").parent().parent().editableTableWidget();//整行的可以编辑  
  
        }  
  
  
  
        //转成可编辑的表格  
        /*global $, window*/  
        $.fn.editableTableWidget = function (options) {  
            'use strict';  
            return $(this).each(function () {  
                var buildDefaultOptions = function () {  
                    var opts = $.extend({}, $.fn.editableTableWidget.defaultOptions);  
                    opts.editor = opts.editor.clone();  
                    return opts;  
                },  
                    activeOptions = $.extend(buildDefaultOptions(), options),  
                    ARROW_LEFT = 37, ARROW_UP = 38, ARROW_RIGHT = 39, ARROW_DOWN = 40, ENTER = 13, ESC = 27, TAB = 9,  
                    element = $(this),  
                    editor = activeOptions.editor.css('position', 'absolute').hide().appendTo(element.parent()),  
                    active,  
                    showEditor = function (select) {  
                        active = element.find('td:focus');  
                        if (active.length) {  
                            editor.val(active.text())  
                                .removeClass('error')  
                                .show()  
                                .offset(active.offset())  
                                .css(active.css(activeOptions.cloneProperties))  
                                .width(active.width())  
                                .height(active.height())  
                                .focus();  
                            if (select) {  
                                editor.select();  
                            }  
                        }  
                    },  
                    setActiveText = function () {  
                        var text = editor.val(),  
                            evt = $.Event('change'),  
                            originalContent;  
                        if (active.text() === text || editor.hasClass('error')) {  
                            return true;  
                        }  
                        originalContent = active.html();  
                        active.text(text).trigger(evt, text);  
                        if (evt.result === false) {  
                            active.html(originalContent);  
                        }  
                    },  
                    movement = function (element, keycode) {  
                        if (keycode === ARROW_RIGHT) {  
                            return element.next('td');  
                        } else if (keycode === ARROW_LEFT) {  
                            return element.prev('td');  
                        } else if (keycode === ARROW_UP) {  
                            return element.parent().prev().children().eq(element.index());  
                        } else if (keycode === ARROW_DOWN) {  
                            return element.parent().next().children().eq(element.index());  
                        }  
                        return [];  
                    };  
                editor.blur(function () {  
                    setActiveText();  
                    editor.hide();  
                }).keydown(function (e) {  
                    if (e.which === ENTER) {  
                        setActiveText();  
                        editor.hide();  
                        active.focus();  
                        e.preventDefault();  
                        e.stopPropagation();  
                    } else if (e.which === ESC) {  
                        editor.val(active.text());  
                        e.preventDefault();  
                        e.stopPropagation();  
                        editor.hide();  
                        active.focus();  
                    } else if (e.which === TAB) {  
                        active.focus();  
                    } else if (this.selectionEnd - this.selectionStart === this.value.length) {  
                        var possibleMove = movement(active, e.which);  
                        if (possibleMove.length > 0) {  
                            possibleMove.focus();  
                            e.preventDefault();  
                            e.stopPropagation();  
                        }  
                    }  
                })  
                    .on('input paste', function () {  
                        var evt = $.Event('validate');  
                        active.trigger(evt, editor.val());  
                        if (evt.result === false) {  
                            editor.addClass('error');  
                        } else {  
                            editor.removeClass('error');  
                        }  
                    });  
                element.on('click keypress dblclick', showEditor)  
                    .css('cursor', 'pointer')  
                    .keydown(function (e) {  
                        var prevent = true,  
                            possibleMove = movement($(e.target), e.which);  
                        if (possibleMove.length > 0) {  
                            possibleMove.focus();  
                        } else if (e.which === ENTER) {  
                            showEditor(false);  
                        } else if (e.which === 17 || e.which === 91 || e.which === 93) {  
                            showEditor(true);  
                            prevent = false;  
                        } else {  
                            prevent = false;  
                        }  
                        if (prevent) {  
                            e.stopPropagation();  
                            e.preventDefault();  
                        }  
                    });  
  
                element.find('td').prop('tabindex', 1);  
  
                $(window).on('resize', function () {  
                    if (editor.is(':visible')) {  
                        editor.offset(active.offset())  
                            .width(active.width())  
                            .height(active.height());  
                    }  
                });  
            });  
  
        };  
        $.fn.editableTableWidget.defaultOptions = {  
            cloneProperties: ['padding', 'padding-top', 'padding-bottom', 'padding-left', 'padding-right',  
                'text-align', 'font', 'font-size', 'font-family', 'font-weight',  
                'border', 'border-top', 'border-bottom', 'border-left', 'border-right'],  
            editor: $('<input>')  
        };  
  
  
    </script>  
</body>
</html>